@import url(/fonts/stylesheet.css);

@keyframes scrollBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(0%) translateY(-5%);
    }

    50% {
        transform: translateX(40%) translateY(5%);
    }

    100% {
        transform: translateX(0%) translateY(-5%);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes delay {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glitch {
    0% {
        transform: translate(0, 0);
        clip-path: inset(0 0 0 0);
    }
    20% {
        transform: translate(-2px, 2px);
        clip-path: inset(10% 0 20% 0);
    }
    40% {
        transform: translate(2px, -2px);
        clip-path: inset(30% 0 10% 0);
    }
    60% {
        transform: translate(-1px, 1px);
        clip-path: inset(5% 0 15% 0);
    }
    80% {
        transform: translate(1px, -1px);
        clip-path: inset(15% 0 5% 0);
    }
    100% {
        transform: translate(0, 0);
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fallDown {
    0% {
        top: -20%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

:root {
    --color-bg1: #032500;
    --color-bg2: #000000;
    --color1: 0, 0, 0;
    --color2: 218, 255, 214;
    --color3: 69, 191, 85;
    --color4: 22, 128, 57;
    --color5: 180, 180, 50;
    --circle-size: 100%;
    --blending: hard-light;
}

* {
    cursor: none !important;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #000000, #666666);
    color: white;
}

a{
    cursor: none;
}

button {
    cursor: none;
}

/* Footer styles */
.footer {
    border-top: white solid 2px;
    padding: 2rem;
    color: #daffd6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'helmet';
    text-decoration: none;
    line-height: 1.5;
    background-color: #666666;
}

.footerRow {
    flex: 1 1 10%;
    margin-bottom: 1rem;
}

.footerRow h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.footerRow p, .footerRow a {
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(218, 255, 214);
    text-decoration: none;
}

.footerRow a:hover {
    text-decoration: underline;
}

.portfolioLink {
    color: white;
}

.footerRow a, .footerRow p {
    color: white;
}

.footerRow h3 {
    font-family: 'junegull';
}

.socials {
    border: white solid 4px;
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
    align-items: center;
    flex: 1 1 10%;
    margin-bottom: 1rem;
}

.social-icon {
    width: 50px;
    height: 50px;
    margin: 0.5em;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* Sidebar styles */
.sidebar {
    width: 0;
    height: 100%;
    background: url('/imgs/topo.svg') repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    max-width: 20vw;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'helmet';
}

.sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.sidebar a, .sidebar .close-btn {
    position: relative;
    z-index: 2;
    cursor: none;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 3em;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #000000;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.sidebar .close-btn:hover {
    color: black;
}

.open-btn {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

.open-btn:hover {
    cursor: none;
}

/* Custom Circle Cursor */
.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease;
    z-index: 9999;
}

.cursor-hover {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
}

/* Page */

.header{
    background: linear-gradient(to bottom, #000000, #008907, #008907,  #008907), url('/imgs/topo.svg');
    animation: scrollBackground 15s linear infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'helmet';
    font-size: 3em;
}

.headerTwo{
    background: linear-gradient(to bottom, #008907, #000000), url('/imgs/topo.svg');
    animation: scrollBackground 15s linear infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'helmet';
}

.awardsMain, .achievementsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'helmet';
    border: #fff 3px solid;
    border-radius: 1em;
    width: 80%;
    margin-left: 10%;
    margin-top: 2em;
    margin-bottom:2em;
}

.awardsMain h1, .achievementsMain h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: rgb(218, 255, 214);
}

.achievementsMain {
    display: flex;
    flex-direction: row; /* Ensure items are in a row */
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Ensure consistent width */
    margin: 2em auto; /* Center horizontally */
}

.achievementsText {
    flex: 1;
    margin-right: 20px;
    padding-left: 20em;
}

.achievementsText h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: rgb(218, 255, 214);
}

.achievementsText li{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.achievementsImgs {
    flex: 1;
    text-align: right;
}

.achievementsImgs img{
    width: 500px;
    height: 500px;
    margin-left: 20px;
    padding: 1em;
}

/* a */
.awardsMain {
    display: flex;
    flex-direction: row; /* Ensure items are in a row */
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Ensure consistent width */
    margin: 2em auto; /* Center horizontally */
}

.awardsText {
    flex: 1;
    margin-right: 20px;
    padding-left: 20em;
}

.awardsText h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: rgb(218, 255, 214);
}

.awardsText li{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.awardsImgs {
    flex: 1;
    text-align: right;
}

.awardsImgs img{
    width: 500px;
    height: 500px;
    margin-left: 20px;
    padding: 1em;
}