@font-face {
    font-family: '1EDITION';
    src: url('../fonts/1EDITION.TTF') format('truetype');
}

@font-face {
    font-family: 'Helmet';
    src: url('../fonts/Helmet-lWZV.otf') format('opentype');
}

@font-face {
    font-family: 'Junegull';
    src: url('../fonts/junegull.ttf') format('truetype');
}

@font-face {
    font-family: 'windows';
    src: url('windows_regular-webfont.woff2') format('woff2'),
         url('../fonts/windows_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}